In [ ]:
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!ls "/content/drive/MyDrive/DATASET IOT"
path="/content/drive/MyDrive/DATASET IOT/reduce_data.csv"
df=pd.read_csv(path)
df.head()

183063.csv  reduce_data.csv  trafficData02112014.csv  trafficMetaData.csv

,Unnamed: 0,avgMeasuredTime,avgSpeed,extID,TIMESTAMP,vehicleCount,REPORT_ID
0,0,217,111,896,2014-02-13T11:30:00,12,158655
1,1,226,106,896,2014-02-13T11:35:00,12,158655
2,2,227,106,896,2014-02-13T11:40:00,11,158655
3,3,219,110,896,2014-02-13T11:45:00,12,158655
4,4,207,116,896,2014-02-13T11:50:00,10,158655

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495600 entries, 0 to 495599
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       495600 non-null  int64
 1   avgMeasuredTime  495600 non-null  int64
 2   avgSpeed         495600 non-null  int64
 3   extID            495600 non-null  int64
 4   TIMESTAMP        495600 non-null  object
 5   vehicleCount     495600 non-null  int64
 6   REPORT_ID        495600 non-null  int64
dtypes: int64(6), object(1)
memory usage: 26.5+ MB

In [ ]:
df['REPORT_ID'].unique()

array([158655, 158684, 190799, 190825, 209854, 209880, 209907, 209933,
       209960, 209986])

In [ ]:
df[['date', 'Time']] =df.TIMESTAMP.str.split("T", expand = True)
df

,Unnamed: 0,avgMeasuredTime,avgSpeed,extID,TIMESTAMP,vehicleCount,REPORT_ID,date,Time
0,0,217,111,896,2014-02-13T11:30:00,12,158655,2014-02-13,11:30:00
1,1,226,106,896,2014-02-13T11:35:00,12,158655,2014-02-13,11:35:00
2,2,227,106,896,2014-02-13T11:40:00,11,158655,2014-02-13,11:40:00
3,3,219,110,896,2014-02-13T11:45:00,12,158655,2014-02-13,11:45:00
4,4,207,116,896,2014-02-13T11:50:00,10,158655,2014-02-13,11:50:00
...,...,...,...,...,...,...,...,...,...
495595,552019,118,80,985,2014-11-13T10:20:00,0,209986,2014-11-13,10:20:00
495596,552020,118,80,985,2014-11-13T10:25:00,0,209986,2014-11-13,10:25:00
495597,552021,118,80,985,2014-11-13T10:30:00,0,209986,2014-11-13,10:30:00
495598,552022,118,80,985,2014-11-13T10:35:00,0,209986,2014-11-13,10:35:00
495599,552023,118,80,985,2014-11-13T10:40:00,0,209986,2014-11-13,10:40:00

In [ ]:
df[['year', 'month','day']] = df.date.str.split("-", expand = True)
df

,Unnamed: 0,avgMeasuredTime,avgSpeed,extID,TIMESTAMP,vehicleCount,REPORT_ID,date,Time,year,month,day
0,0,217,111,896,2014-02-13T11:30:00,12,158655,2014-02-13,11:30:00,2014,02,13
1,1,226,106,896,2014-02-13T11:35:00,12,158655,2014-02-13,11:35:00,2014,02,13
2,2,227,106,896,2014-02-13T11:40:00,11,158655,2014-02-13,11:40:00,2014,02,13
3,3,219,110,896,2014-02-13T11:45:00,12,158655,2014-02-13,11:45:00,2014,02,13
4,4,207,116,896,2014-02-13T11:50:00,10,158655,2014-02-13,11:50:00,2014,02,13
...,...,...,...,...,...,...,...,...,...,...,...,...
495595,552019,118,80,985,2014-11-13T10:20:00,0,209986,2014-11-13,10:20:00,2014,11,13
495596,552020,118,80,985,2014-11-13T10:25:00,0,209986,2014-11-13,10:25:00,2014,11,13
495597,552021,118,80,985,2014-11-13T10:30:00,0,209986,2014-11-13,10:30:00,2014,11,13
495598,552022,118,80,985,2014-11-13T10:35:00,0,209986,2014-11-13,10:35:00,2014,11,13
495599,552023,118,80,985,2014-11-13T10:40:00,0,209986,2014-11-13,10:40:00,2014,11,13

In [ ]:
df[['hour', 'min','sec']] = df.Time.str.split(":", expand = True)
df

,Unnamed: 0,avgMeasuredTime,avgSpeed,extID,TIMESTAMP,vehicleCount,REPORT_ID,date,Time,year,month,day,hour,min,sec
0,0,217,111,896,2014-02-13T11:30:00,12,158655,2014-02-13,11:30:00,2014,02,13,11,30,00
1,1,226,106,896,2014-02-13T11:35:00,12,158655,2014-02-13,11:35:00,2014,02,13,11,35,00
2,2,227,106,896,2014-02-13T11:40:00,11,158655,2014-02-13,11:40:00,2014,02,13,11,40,00
3,3,219,110,896,2014-02-13T11:45:00,12,158655,2014-02-13,11:45:00,2014,02,13,11,45,00
4,4,207,116,896,2014-02-13T11:50:00,10,158655,2014-02-13,11:50:00,2014,02,13,11,50,00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495595,552019,118,80,985,2014-11-13T10:20:00,0,209986,2014-11-13,10:20:00,2014,11,13,10,20,00
495596,552020,118,80,985,2014-11-13T10:25:00,0,209986,2014-11-13,10:25:00,2014,11,13,10,25,00
495597,552021,118,80,985,2014-11-13T10:30:00,0,209986,2014-11-13,10:30:00,2014,11,13,10,30,00
495598,552022,118,80,985,2014-11-13T10:35:00,0,209986,2014-11-13,10:35:00,2014,11,13,10,35,00
495599,552023,118,80,985,2014-11-13T10:40:00,0,209986,2014-11-13,10:40:00,2014,11,13,10,40,00

In [ ]:
df['hour']=df['hour'].astype(int)
df['min']=df['min'].astype(int)
df['sec']=df['sec'].astype(int)
df['year']=df['year'].astype(int)
df['month']=df['month'].astype(int)
df['day']=df['day'].astype(int)
df

,Unnamed: 0,avgMeasuredTime,avgSpeed,extID,TIMESTAMP,vehicleCount,REPORT_ID,date,Time,year,month,day,hour,min,sec
0,0,217,111,896,2014-02-13T11:30:00,12,158655,2014-02-13,11:30:00,2014,2,13,11,30,0
1,1,226,106,896,2014-02-13T11:35:00,12,158655,2014-02-13,11:35:00,2014,2,13,11,35,0
2,2,227,106,896,2014-02-13T11:40:00,11,158655,2014-02-13,11:40:00,2014,2,13,11,40,0
3,3,219,110,896,2014-02-13T11:45:00,12,158655,2014-02-13,11:45:00,2014,2,13,11,45,0
4,4,207,116,896,2014-02-13T11:50:00,10,158655,2014-02-13,11:50:00,2014,2,13,11,50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495595,552019,118,80,985,2014-11-13T10:20:00,0,209986,2014-11-13,10:20:00,2014,11,13,10,20,0
495596,552020,118,80,985,2014-11-13T10:25:00,0,209986,2014-11-13,10:25:00,2014,11,13,10,25,0
495597,552021,118,80,985,2014-11-13T10:30:00,0,209986,2014-11-13,10:30:00,2014,11,13,10,30,0
495598,552022,118,80,985,2014-11-13T10:35:00,0,209986,2014-11-13,10:35:00,2014,11,13,10,35,0
495599,552023,118,80,985,2014-11-13T10:40:00,0,209986,2014-11-13,10:40:00,2014,11,13,10,40,0

In [ ]:
df[df['REPORT_ID']==209986].describe()

,Unnamed: 0,avgMeasuredTime,avgSpeed,extID,vehicleCount,REPORT_ID,year,month,day,hour,min,sec
count,49560.000000,49560.000000,49560.000000,49560.0,49560.000000,49560.0,49560.0,49560.000000,49560.000000,49560.000000,49560.000000,49560.0
mean,372622.106134,132.054479,73.602240,985.0,0.943362,209986.0,2014.0,6.209100,15.398406,11.083475,27.461360,0.0
std,106670.422665,90.381076,10.004144,0.0,1.393574,0.0,0.0,2.882486,8.926537,6.622033,17.259108,0.0
min,269254.000000,0.000000,0.000000,985.0,0.000000,209986.0,2014.0,2.000000,1.000000,0.000000,0.000000,0.0
25%,281661.750000,119.000000,68.000000,985.0,0.000000,209986.0,2014.0,4.000000,8.000000,5.000000,10.000000,0.0
50%,294062.500000,128.000000,73.000000,985.0,0.000000,209986.0,2014.0,5.000000,15.000000,11.000000,30.000000,0.0
75%,448978.500000,137.000000,79.000000,985.0,2.000000,209986.0,2014.0,9.000000,23.000000,17.000000,40.000000,0.0
max,552023.000000,2763.000000,124.000000,985.0,38.000000,209986.0,2014.0,11.000000,31.000000,23.000000,55.000000,0.0

In [ ]:
df

,Unnamed: 0,avgMeasuredTime,avgSpeed,extID,TIMESTAMP,vehicleCount,REPORT_ID,date,Time,year,month,day,hour,min,sec
0,0,217,111,896,2014-02-13T11:30:00,12,158655,2014-02-13,11:30:00,2014,2,13,11,30,0
1,1,226,106,896,2014-02-13T11:35:00,12,158655,2014-02-13,11:35:00,2014,2,13,11,35,0
2,2,227,106,896,2014-02-13T11:40:00,11,158655,2014-02-13,11:40:00,2014,2,13,11,40,0
3,3,219,110,896,2014-02-13T11:45:00,12,158655,2014-02-13,11:45:00,2014,2,13,11,45,0
4,4,207,116,896,2014-02-13T11:50:00,10,158655,2014-02-13,11:50:00,2014,2,13,11,50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495595,552019,118,80,985,2014-11-13T10:20:00,0,209986,2014-11-13,10:20:00,2014,11,13,10,20,0
495596,552020,118,80,985,2014-11-13T10:25:00,0,209986,2014-11-13,10:25:00,2014,11,13,10,25,0
495597,552021,118,80,985,2014-11-13T10:30:00,0,209986,2014-11-13,10:30:00,2014,11,13,10,30,0
495598,552022,118,80,985,2014-11-13T10:35:00,0,209986,2014-11-13,10:35:00,2014,11,13,10,35,0
495599,552023,118,80,985,2014-11-13T10:40:00,0,209986,2014-11-13,10:40:00,2014,11,13,10,40,0

In [ ]:
df[len(df)-20:]

,Unnamed: 0,avgMeasuredTime,avgSpeed,extID,TIMESTAMP,vehicleCount,REPORT_ID,date,Time,year,month,day,hour,min,sec
495580,552004,135,69,985,2014-11-13T08:55:00,1,209986,2014-11-13,08:55:00,2014,11,13,8,55,0
495581,552005,125,75,985,2014-11-13T09:00:00,1,209986,2014-11-13,09:00:00,2014,11,13,9,0,0
495582,552006,125,75,985,2014-11-13T09:05:00,0,209986,2014-11-13,09:05:00,2014,11,13,9,5,0
495583,552007,125,75,985,2014-11-13T09:10:00,0,209986,2014-11-13,09:10:00,2014,11,13,9,10,0
495584,552008,128,73,985,2014-11-13T09:20:00,2,209986,2014-11-13,09:20:00,2014,11,13,9,20,0
495585,552009,127,74,985,2014-11-13T09:25:00,0,209986,2014-11-13,09:25:00,2014,11,13,9,25,0
495586,552010,127,74,985,2014-11-13T09:30:00,0,209986,2014-11-13,09:30:00,2014,11,13,9,30,0
495587,552011,117,80,985,2014-11-13T09:35:00,2,209986,2014-11-13,09:35:00,2014,11,13,9,35,0
495588,552012,117,80,985,2014-11-13T09:40:00,2,209986,2014-11-13,09:40:00,2014,11,13,9,40,0
495589,552013,118,80,985,2014-11-13T09:45:00,0,209986,2014-11-13,09:45:00,2014,11,13,9,45,0
495590,552014,118,80,985,2014-11-13T09:50:00,0,209986,2014-11-13,09:50:00,2014,11,13,9,50,0
495591,552015,118,80,985,2014-11-13T10:00:00,0,209986,2014-11-13,10:00:00,2014,11,13,10,0,0
495592,552016,118,80,985,2014-11-13T10:05:00,0,209986,2014-11-13,10:05:00,2014,11,13,10,5,0
495593,552017,118,80,985,2014-11-13T10:10:00,0,209986,2014-11-13,10:10:00,2014,11,13,10,10,0
495594,552018,118,80,985,2014-11-13T10:15:00,0,209986,2014-11-13,10:15:00,2014,11,13,10,15,0
495595,552019,118,80,985,2014-11-13T10:20:00,0,209986,2014-11-13,10:20:00,2014,11,13,10,20,0
495596,552020,118,80,985,2014-11-13T10:25:00,0,209986,2014-11-13,10:25:00,2014,11,13,10,25,0
495597,552021,118,80,985,2014-11-13T10:30:00,0,209986,2014-11-13,10:30:00,2014,11,13,10,30,0
495598,552022,118,80,985,2014-11-13T10:35:00,0,209986,2014-11-13,10:35:00,2014,11,13,10,35,0
495599,552023,118,80,985,2014-11-13T10:40:00,0,209986,2014-11-13,10:40:00,2014,11,13,10,40,0

In [ ]:
df.loc[df['vehicleCount']==0,['avgSpeed','avgMeasuredTime']] = df.loc[df['vehicleCount']==0,['avgSpeed','avgMeasuredTime']] * 0
df

,Unnamed: 0,avgMeasuredTime,avgSpeed,extID,TIMESTAMP,vehicleCount,REPORT_ID,date,Time,year,month,day,hour,min,sec
0,0,217,111,896,2014-02-13T11:30:00,12,158655,2014-02-13,11:30:00,2014,2,13,11,30,0
1,1,226,106,896,2014-02-13T11:35:00,12,158655,2014-02-13,11:35:00,2014,2,13,11,35,0
2,2,227,106,896,2014-02-13T11:40:00,11,158655,2014-02-13,11:40:00,2014,2,13,11,40,0
3,3,219,110,896,2014-02-13T11:45:00,12,158655,2014-02-13,11:45:00,2014,2,13,11,45,0
4,4,207,116,896,2014-02-13T11:50:00,10,158655,2014-02-13,11:50:00,2014,2,13,11,50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495595,552019,0,0,985,2014-11-13T10:20:00,0,209986,2014-11-13,10:20:00,2014,11,13,10,20,0
495596,552020,0,0,985,2014-11-13T10:25:00,0,209986,2014-11-13,10:25:00,2014,11,13,10,25,0
495597,552021,0,0,985,2014-11-13T10:30:00,0,209986,2014-11-13,10:30:00,2014,11,13,10,30,0
495598,552022,0,0,985,2014-11-13T10:35:00,0,209986,2014-11-13,10:35:00,2014,11,13,10,35,0
495599,552023,0,0,985,2014-11-13T10:40:00,0,209986,2014-11-13,10:40:00,2014,11,13,10,40,0

In [ ]:
del df['Unnamed: 0']

In [ ]:
dfr=[]
for r in df['REPORT_ID'].unique():
    dfr.append(df[df['REPORT_ID']==r])
dfr

[        avgMeasuredTime  avgSpeed  extID            TIMESTAMP  vehicleCount  \
 0                   217       111    896  2014-02-13T11:30:00            12
 1                   226       106    896  2014-02-13T11:35:00            12
 2                   227       106    896  2014-02-13T11:40:00            11
 3                   219       110    896  2014-02-13T11:45:00            12
 4                   207       116    896  2014-02-13T11:50:00            10
 ...                 ...       ...    ...                  ...           ...
 415801                0         0    896  2014-11-13T10:20:00             0
 415802                0         0    896  2014-11-13T10:25:00             0
 415803                0         0    896  2014-11-13T10:30:00             0
 415804              231       104    896  2014-11-13T10:35:00             9
 415805              223       108    896  2014-11-13T10:40:00            13

         REPORT_ID        date      Time  year  month  day  hour  min  sec
 0          158655  2014-02-13  11:30:00  2014      2   13    11   30    0
 1          158655  2014-02-13  11:35:00  2014      2   13    11   35    0
 2          158655  2014-02-13  11:40:00  2014      2   13    11   40    0
 3          158655  2014-02-13  11:45:00  2014      2   13    11   45    0
 4          158655  2014-02-13  11:50:00  2014      2   13    11   50    0
 ...           ...         ...       ...   ...    ...  ...   ...  ...  ...
 415801     158655  2014-11-13  10:20:00  2014     11   13    10   20    0
 415802     158655  2014-11-13  10:25:00  2014     11   13    10   25    0
 415803     158655  2014-11-13  10:30:00  2014     11   13    10   30    0
 415804     158655  2014-11-13  10:35:00  2014     11   13    10   35    0
 415805     158655  2014-11-13  10:40:00  2014     11   13    10   40    0

 [49560 rows x 14 columns],
         avgMeasuredTime  avgSpeed  extID            TIMESTAMP  vehicleCount  \
 27820               216       111   1020  2014-02-13T11:30:00            14
 27821               244        98   1020  2014-02-13T11:35:00            14
 27822               251        96   1020  2014-02-13T11:40:00            12
 27823               228       105   1020  2014-02-13T11:45:00            11
 27824               230       104   1020  2014-02-13T11:50:00            12
 ...                 ...       ...    ...                  ...           ...
 424667                0         0   1020  2014-11-13T10:20:00             0
 424668                0         0   1020  2014-11-13T10:25:00             0
 424669                0         0   1020  2014-11-13T10:30:00             0
 424670              229       105   1020  2014-11-13T10:35:00             9
 424671              223       108   1020  2014-11-13T10:40:00             9

         REPORT_ID        date      Time  year  month  day  hour  min  sec
 27820      158684  2014-02-13  11:30:00  2014      2   13    11   30    0
 27821      158684  2014-02-13  11:35:00  2014      2   13    11   35    0
 27822      158684  2014-02-13  11:40:00  2014      2   13    11   40    0
 27823      158684  2014-02-13  11:45:00  2014      2   13    11   45    0
 27824      158684  2014-02-13  11:50:00  2014      2   13    11   50    0
 ...           ...         ...       ...   ...    ...  ...   ...  ...  ...
 424667     158684  2014-11-13  10:20:00  2014     11   13    10   20    0
 424668     158684  2014-11-13  10:25:00  2014     11   13    10   25    0
 424669     158684  2014-11-13  10:30:00  2014     11   13    10   30    0
 424670     158684  2014-11-13  10:35:00  2014     11   13    10   35    0
 424671     158684  2014-11-13  10:40:00  2014     11   13    10   40    0

 [49560 rows x 14 columns],
         avgMeasuredTime  avgSpeed  extID            TIMESTAMP  vehicleCount  \
 55640                 0         0    811  2014-02-13T11:30:00             0
 55641               126        71    811  2014-02-13T11:35:00             2
 55642               126        71    811  2014-02-13T11:40:00             2
 55643                 0         0    811  2014-02-13T11:45:00             0
 55644               146        61    811  2014-02-13T11:50:00             3
 ...                 ...       ...    ...                  ...           ...
 433533                0         0    811  2014-11-13T10:20:00             0
 433534                0         0    811  2014-11-13T10:25:00             0
 433535                0         0    811  2014-11-13T10:30:00             0
 433536              132        68    811  2014-11-13T10:35:00             2
 433537                0         0    811  2014-11-13T10:40:00             0

         REPORT_ID        date      Time  year  month  day  hour  min  sec
 55640      190799  2014-02-13  11:30:00  2014      2   13    11   30    0
 55641      190799  2014-02-13  11:35:00  2014      2   13    11   35    0
 55642      190799  2014-02-13  11:40:00  2014      2   13    11   40    0
 55643      190799  2014-02-13  11:45:00  2014      2   13    11   45    0
 55644      190799  2014-02-13  11:50:00  2014      2   13    11   50    0
 ...           ...         ...       ...   ...    ...  ...   ...  ...  ...
 433533     190799  2014-11-13  10:20:00  2014     11   13    10   20    0
 433534     190799  2014-11-13  10:25:00  2014     11   13    10   25    0
 433535     190799  2014-11-13  10:30:00  2014     11   13    10   30    0
 433536     190799  2014-11-13  10:35:00  2014     11   13    10   35    0
 433537     190799  2014-11-13  10:40:00  2014     11   13    10   40    0

 [49560 rows x 14 columns],
         avgMeasuredTime  avgSpeed  extID            TIMESTAMP  vehicleCount  \
 83460                 0         0    905  2014-02-13T11:30:00             0
 83461                 0         0    905  2014-02-13T11:35:00             0
 83462               150        60    905  2014-02-13T11:40:00             2
 83463               150        60    905  2014-02-13T11:45:00             3
 83464               134        67    905  2014-02-13T11:50:00             2
 ...                 ...       ...    ...                  ...           ...
 442399                0         0    905  2014-11-13T10:20:00             0
 442400                0         0    905  2014-11-13T10:25:00             0
 442401                0         0    905  2014-11-13T10:30:00             0
 442402              153        58    905  2014-11-13T10:35:00             1
 442403              139        64    905  2014-11-13T10:40:00             1

         REPORT_ID        date      Time  year  month  day  hour  min  sec
 83460      190825  2014-02-13  11:30:00  2014      2   13    11   30    0
 83461      190825  2014-02-13  11:35:00  2014      2   13    11   35    0
 83462      190825  2014-02-13  11:40:00  2014      2   13    11   40    0
 83463      190825  2014-02-13  11:45:00  2014      2   13    11   45    0
 83464      190825  2014-02-13  11:50:00  2014      2   13    11   50    0
 ...           ...         ...       ...   ...    ...  ...   ...  ...  ...
 442399     190825  2014-11-13  10:20:00  2014     11   13    10   20    0
 442400     190825  2014-11-13  10:25:00  2014     11   13    10   25    0
 442401     190825  2014-11-13  10:30:00  2014     11   13    10   30    0
 442402     190825  2014-11-13  10:35:00  2014     11   13    10   35    0
 442403     190825  2014-11-13  10:40:00  2014     11   13    10   40    0

 [49560 rows x 14 columns],
         avgMeasuredTime  avgSpeed  extID            TIMESTAMP  vehicleCount  \
 111280               76        64    702  2014-02-13T11:30:00             3
 111281               77        63    702  2014-02-13T11:35:00             5
 111282               76        64    702  2014-02-13T11:40:00             6
 111283               72        67    702  2014-02-13T11:45:00             4
 111284               72        67    702  2014-02-13T11:50:00             3
 ...                 ...       ...    ...                  ...           ...
 451265                0         0    702  2014-11-13T10:20:00             0
 451266                0         0    702  2014-11-13T10:25:00             0
 451267                0         0    702  2014-11-13T10:30:00             0
 451268               73        66    702  2014-11-13T10:35:00             1
 451269               73        66    702  2014-11-13T10:40:00             1

         REPORT_ID        date      Time  year  month  day  hour  min  sec
 111280     209854  2014-02-13  11:30:00  2014      2   13    11   30    0
 111281     209854  2014-02-13  11:35:00  2014      2   13    11   35    0
 111282     209854  2014-02-13  11:40:00  2014      2   13    11   40    0
 111283     209854  2014-02-13  11:45:00  2014      2   13    11   45    0
 111284     209854  2014-02-13  11:50:00  2014      2   13    11   50    0
 ...           ...         ...       ...   ...    ...  ...   ...  ...  ...
 451265     209854  2014-11-13  10:20:00  2014     11   13    10   20    0
 451266     209854  2014-11-13  10:25:00  2014     11   13    10   25    0
 451267     209854  2014-11-13  10:30:00  2014     11   13    10   30    0
 451268     209854  2014-11-13  10:35:00  2014     11   13    10   35    0
 451269     209854  2014-11-13  10:40:00  2014     11   13    10   40    0

 [49560 rows x 14 columns],
         avgMeasuredTime  avgSpeed  extID            TIMESTAMP  vehicleCount  \
 139100              108        53    765  2014-02-13T11:30:00             5
 139101              109        52    765  2014-02-13T11:35:00             4
 139102               92        62    765  2014-02-13T11:40:00             6
 139103               95        60    765  2014-02-13T11:45:00            11
 139104              101        56    765  2014-02-13T11:50:00            11
 ...                 ...       ...    ...                  ...           ...
 460131                0         0    765  2014-11-13T10:20:00             0
 460132                0         0    765  2014-11-13T10:25:00             0
 460133               98        58    765  2014-11-13T10:30:00             1
 460134              107        53    765  2014-11-13T10:35:00             3
 460135              105        54    765  2014-11-13T10:40:00             2

         REPORT_ID        date      Time  year  month  day  hour  min  sec
 139100     209880  2014-02-13  11:30:00  2014      2   13    11   30    0
 139101     209880  2014-02-13  11:35:00  2014      2   13    11   35    0
 139102     209880  2014-02-13  11:40:00  2014      2   13    11   40    0
 139103     209880  2014-02-13  11:45:00  2014      2   13    11   45    0
 139104     209880  2014-02-13  11:50:00  2014      2   13    11   50    0
 ...           ...         ...       ...   ...    ...  ...   ...  ...  ...
 460131     209880  2014-11-13  10:20:00  2014     11   13    10   20    0
 460132     209880  2014-11-13  10:25:00  2014     11   13    10   25    0
 460133     209880  2014-11-13  10:30:00  2014     11   13    10   30    0
 460134     209880  2014-11-13  10:35:00  2014     11   13    10   35    0
 460135     209880  2014-11-13  10:40:00  2014     11   13    10   40    0

 [49560 rows x 14 columns],
         avgMeasuredTime  avgSpeed  extID            TIMESTAMP  vehicleCount  \
 166920                0         0    821  2014-02-13T11:30:00             0
 166921              151        73    821  2014-02-13T11:35:00             2
 166922              155        71    821  2014-02-13T11:40:00             1
 166923              198        56    821  2014-02-13T11:45:00             3
 166924              198        56    821  2014-02-13T11:50:00             3
 ...                 ...       ...    ...                  ...           ...
 468997                0         0    821  2014-11-13T10:20:00             0
 468998                0         0    821  2014-11-13T10:25:00             0
 468999              180        61    821  2014-11-13T10:30:00             1
 469000              177        62    821  2014-11-13T10:35:00             2
 469001              175        63    821  2014-11-13T10:40:00             1

         REPORT_ID        date      Time  year  month  day  hour  min  sec
 166920     209907  2014-02-13  11:30:00  2014      2   13    11   30    0
 166921     209907  2014-02-13  11:35:00  2014      2   13    11   35    0
 166922     209907  2014-02-13  11:40:00  2014      2   13    11   40    0
 166923     209907  2014-02-13  11:45:00  2014      2   13    11   45    0
 166924     209907  2014-02-13  11:50:00  2014      2   13    11   50    0
 ...           ...         ...       ...   ...    ...  ...   ...  ...  ...
 468997     209907  2014-11-13  10:20:00  2014     11   13    10   20    0
 468998     209907  2014-11-13  10:25:00  2014     11   13    10   25    0
 468999     209907  2014-11-13  10:30:00  2014     11   13    10   30    0
 469000     209907  2014-11-13  10:35:00  2014     11   13    10   35    0
 469001     209907  2014-11-13  10:40:00  2014     11   13    10   40    0

 [49560 rows x 14 columns],
         avgMeasuredTime  avgSpeed  extID            TIMESTAMP  vehicleCount  \
 194740              125        80    872  2014-02-13T11:30:00             1
 194741              130        77    872  2014-02-13T11:35:00             1
 194742              150        66    872  2014-02-13T11:40:00             1
 194743                0         0    872  2014-02-13T11:45:00             0
 194744                0         0    872  2014-02-13T11:50:00             0
 ...                 ...       ...    ...                  ...           ...
 477863                0         0    872  2014-11-13T10:20:00             0
 477864                0         0    872  2014-11-13T10:25:00             0
 477865              138        72    872  2014-11-13T10:30:00             1
 477866              129        77    872  2014-11-13T10:35:00             2
 477867                0         0    872  2014-11-13T10:40:00             0

         REPORT_ID        date      Time  year  month  day  hour  min  sec
 194740     209933  2014-02-13  11:30:00  2014      2   13    11   30    0
 194741     209933  2014-02-13  11:35:00  2014      2   13    11   35    0
 194742     209933  2014-02-13  11:40:00  2014      2   13    11   40    0
 194743     209933  2014-02-13  11:45:00  2014      2   13    11   45    0
 194744     209933  2014-02-13  11:50:00  2014      2   13    11   50    0
 ...           ...         ...       ...   ...    ...  ...   ...  ...  ...
 477863     209933  2014-11-13  10:20:00  2014     11   13    10   20    0
 477864     209933  2014-11-13  10:25:00  2014     11   13    10   25    0
 477865     209933  2014-11-13  10:30:00  2014     11   13    10   30    0
 477866     209933  2014-11-13  10:35:00  2014     11   13    10   35    0
 477867     209933  2014-11-13  10:40:00  2014     11   13    10   40    0

 [49560 rows x 14 columns],
         avgMeasuredTime  avgSpeed  extID            TIMESTAMP  vehicleCount  \
 222560              114        79    939  2014-02-13T11:30:00             5
 222561              114        79    939  2014-02-13T11:35:00             2
 222562                0         0    939  2014-02-13T11:40:00             0
 222563              125        72    939  2014-02-13T11:45:00             4
 222564              123        73    939  2014-02-13T11:50:00             5
 ...                 ...       ...    ...                  ...           ...
 486729                0         0    939  2014-11-13T10:20:00             0
 486730                0         0    939  2014-11-13T10:25:00             0
 486731                0         0    939  2014-11-13T10:30:00             0
 486732                0         0    939  2014-11-13T10:35:00             0
 486733                0         0    939  2014-11-13T10:40:00             0

         REPORT_ID        date      Time  year  month  day  hour  min  sec
 222560     209960  2014-02-13  11:30:00  2014      2   13    11   30    0
 222561     209960  2014-02-13  11:35:00  2014      2   13    11   35    0
 222562     209960  2014-02-13  11:40:00  2014      2   13    11   40    0
 222563     209960  2014-02-13  11:45:00  2014      2   13    11   45    0
 222564     209960  2014-02-13  11:50:00  2014      2   13    11   50    0
 ...           ...         ...       ...   ...    ...  ...   ...  ...  ...
 486729     209960  2014-11-13  10:20:00  2014     11   13    10   20    0
 486730     209960  2014-11-13  10:25:00  2014     11   13    10   25    0
 486731     209960  2014-11-13  10:30:00  2014     11   13    10   30    0
 486732     209960  2014-11-13  10:35:00  2014     11   13    10   35    0
 486733     209960  2014-11-13  10:40:00  2014     11   13    10   40    0

 [49560 rows x 14 columns],
         avgMeasuredTime  avgSpeed  extID            TIMESTAMP  vehicleCount  \
 250380              123        76    985  2014-02-13T11:30:00             2
 250381              125        75    985  2014-02-13T11:35:00             1
 250382              132        71    985  2014-02-13T11:40:00             1
 250383              132        71    985  2014-02-13T11:45:00             1
 250384              107        88    985  2014-02-13T11:50:00             1
 ...                 ...       ...    ...                  ...           ...
 495595                0         0    985  2014-11-13T10:20:00             0
 495596                0         0    985  2014-11-13T10:25:00             0
 495597                0         0    985  2014-11-13T10:30:00             0
 495598                0         0    985  2014-11-13T10:35:00             0
 495599                0         0    985  2014-11-13T10:40:00             0

         REPORT_ID        date      Time  year  month  day  hour  min  sec
 250380     209986  2014-02-13  11:30:00  2014      2   13    11   30    0
 250381     209986  2014-02-13  11:35:00  2014      2   13    11   35    0
 250382     209986  2014-02-13  11:40:00  2014      2   13    11   40    0
 250383     209986  2014-02-13  11:45:00  2014      2   13    11   45    0
 250384     209986  2014-02-13  11:50:00  2014      2   13    11   50    0
 ...           ...         ...       ...   ...    ...  ...   ...  ...  ...
 495595     209986  2014-11-13  10:20:00  2014     11   13    10   20    0
 495596     209986  2014-11-13  10:25:00  2014     11   13    10   25    0
 495597     209986  2014-11-13  10:30:00  2014     11   13    10   30    0
 495598     209986  2014-11-13  10:35:00  2014     11   13    10   35    0
 495599     209986  2014-11-13  10:40:00  2014     11   13    10   40    0

 [49560 rows x 14 columns]]

In [ ]:
df

,avgMeasuredTime,avgSpeed,extID,TIMESTAMP,vehicleCount,REPORT_ID,date,Time,year,month,day,hour,min,sec
0,217,111,896,2014-02-13T11:30:00,12,158655,2014-02-13,11:30:00,2014,2,13,11,30,0
1,226,106,896,2014-02-13T11:35:00,12,158655,2014-02-13,11:35:00,2014,2,13,11,35,0
2,227,106,896,2014-02-13T11:40:00,11,158655,2014-02-13,11:40:00,2014,2,13,11,40,0
3,219,110,896,2014-02-13T11:45:00,12,158655,2014-02-13,11:45:00,2014,2,13,11,45,0
4,207,116,896,2014-02-13T11:50:00,10,158655,2014-02-13,11:50:00,2014,2,13,11,50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495595,0,0,985,2014-11-13T10:20:00,0,209986,2014-11-13,10:20:00,2014,11,13,10,20,0
495596,0,0,985,2014-11-13T10:25:00,0,209986,2014-11-13,10:25:00,2014,11,13,10,25,0
495597,0,0,985,2014-11-13T10:30:00,0,209986,2014-11-13,10:30:00,2014,11,13,10,30,0
495598,0,0,985,2014-11-13T10:35:00,0,209986,2014-11-13,10:35:00,2014,11,13,10,35,0
495599,0,0,985,2014-11-13T10:40:00,0,209986,2014-11-13,10:40:00,2014,11,13,10,40,0

In [ ]:
len(df[df['REPORT_ID']==209986])

49560

In [ ]:
dfr1h={}
for dff in dfr:

  dataff = pd.DataFrame(columns=dff.columns)
  #from 5min to 1hour
  for m in dff['month'].unique():
      for d in dff['day'].unique():
          for h in dff['hour'].unique():
              DDD=dff[(dff['hour'] == h)&(dff['day'] == d)&(dff['month'] == m)]
              if DDD['avgSpeed'].mean() >=0:
                  #print([[DDD['avgMeasuredTime'].mean(),DDD['avgSpeed'].mean(),DDD['vehicleCount'].sum(),DDD['M'].mean(),DDD['D'].mean(),DDD['H'].mean()]])
                  df4=pd.DataFrame([[DDD['avgMeasuredTime'].mean(),DDD['avgSpeed'].mean(),DDD['TIMESTAMP'].values[0],
                                    DDD['vehicleCount'].sum(),DDD['REPORT_ID'].values[0],DDD['month'].mean(),DDD['day'].mean(),DDD['hour'].mean()]],
                                      columns=['avgMeasuredTime','avgSpeed','TIMESTAMP','vehicleCount','REPORT_ID','month','day','hour'])
                  dataff=pd.concat([dataff,df4],ignore_index=True)
  dfr1h[dff['REPORT_ID'].values[0]]=dataff



#extract datetime from timestamp
date_time = pd.to_datetime(dataff.pop('TIMESTAMP'), format='%Y-%m-%dT%H:%M:%S')

In [ ]:
dataff

,avgMeasuredTime,avgSpeed,extID,vehicleCount,REPORT_ID,date,Time,year,month,day,hour,min,sec
0,103.166667,63.500000,NaN,6,209986,NaN,NaN,NaN,2.0,13.0,11.0,NaN,NaN
1,83.083333,50.416667,NaN,22,209986,NaN,NaN,NaN,2.0,13.0,12.0,NaN,NaN
2,96.000000,55.416667,NaN,19,209986,NaN,NaN,NaN,2.0,13.0,13.0,NaN,NaN
3,111.333333,71.000000,NaN,39,209986,NaN,NaN,NaN,2.0,13.0,14.0,NaN,NaN
4,109.916667,71.833333,NaN,21,209986,NaN,NaN,NaN,2.0,13.0,15.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4805,66.600000,35.700000,NaN,11,209986,NaN,NaN,NaN,11.0,12.0,8.0,NaN,NaN
4806,104.166667,63.500000,NaN,10,209986,NaN,NaN,NaN,11.0,12.0,9.0,NaN,NaN
4807,81.555556,51.888889,NaN,11,209986,NaN,NaN,NaN,11.0,12.0,10.0,NaN,NaN
4808,38.800000,21.800000,NaN,4,209986,NaN,NaN,NaN,11.0,12.0,21.0,NaN,NaN
4809,0.000000,0.000000,NaN,0,209986,NaN,NaN,NaN,11.0,12.0,0.0,NaN,NaN

In [ ]:
for i in dfr1h.keys():
    print(len(dfr1h[i]))



len(dfr1h.keys())

4810
4810
4810
4810
4810
4810
4810
4810
4810
4810

10

In [ ]:
dfs=[dfr1h[i] for i in dfr1h.keys()]

In [ ]:
data_to1h = pd.concat([dfr1h[i] for i in dfr1h.keys()], ignore_index=True)

In [ ]:
data_to1h

,avgMeasuredTime,avgSpeed,extID,TIMESTAMP,vehicleCount,REPORT_ID,date,Time,year,month,day,hour,min,sec
0,218.500000,110.166667,NaN,2014-02-13T11:30:00,65,158655,NaN,NaN,NaN,2.0,13.0,11.0,NaN,NaN
1,235.500000,102.750000,NaN,2014-02-13T12:00:00,141,158655,NaN,NaN,NaN,2.0,13.0,12.0,NaN,NaN
2,226.666667,106.416667,NaN,2014-02-13T13:00:00,127,158655,NaN,NaN,NaN,2.0,13.0,13.0,NaN,NaN
3,224.583333,107.750000,NaN,2014-02-13T14:00:00,161,158655,NaN,NaN,NaN,2.0,13.0,14.0,NaN,NaN
4,214.250000,112.500000,NaN,2014-02-13T15:00:00,177,158655,NaN,NaN,NaN,2.0,13.0,15.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48095,66.600000,35.700000,NaN,NaN,11,209986,NaN,NaN,NaN,11.0,12.0,8.0,NaN,NaN
48096,104.166667,63.500000,NaN,NaN,10,209986,NaN,NaN,NaN,11.0,12.0,9.0,NaN,NaN
48097,81.555556,51.888889,NaN,NaN,11,209986,NaN,NaN,NaN,11.0,12.0,10.0,NaN,NaN
48098,38.800000,21.800000,NaN,NaN,4,209986,NaN,NaN,NaN,11.0,12.0,21.0,NaN,NaN
48099,0.000000,0.000000,NaN,NaN,0,209986,NaN,NaN,NaN,11.0,12.0,0.0,NaN,NaN

In [ ]:
data_to1h['hour']=data_to1h['hour'].astype(int)
data_to1h['month']=data_to1h['month'].astype(int)
data_to1h['day']=data_to1h['day'].astype(int)
data_to1h.drop(columns=['extID','date','Time','year','min','sec'],inplace=True)
data_to1h

,avgMeasuredTime,avgSpeed,TIMESTAMP,vehicleCount,REPORT_ID,month,day,hour
0,218.500000,110.166667,2014-02-13T11:30:00,65,158655,2,13,11
1,235.500000,102.750000,2014-02-13T12:00:00,141,158655,2,13,12
2,226.666667,106.416667,2014-02-13T13:00:00,127,158655,2,13,13
3,224.583333,107.750000,2014-02-13T14:00:00,161,158655,2,13,14
4,214.250000,112.500000,2014-02-13T15:00:00,177,158655,2,13,15
...,...,...,...,...,...,...,...,...
48095,66.600000,35.700000,NaN,11,209986,11,12,8
48096,104.166667,63.500000,NaN,10,209986,11,12,9
48097,81.555556,51.888889,NaN,11,209986,11,12,10
48098,38.800000,21.800000,NaN,4,209986,11,12,21
48099,0.000000,0.000000,NaN,0,209986,11,12,0

In [ ]:
del data_to1h['TIMESTAMP']

In [ ]:
data_to1h

       avgMeasuredTime    avgSpeed vehicleCount REPORT_ID  month  day  hour
0           218.500000  110.166667           65    158655      2   13    11
1           235.500000  102.750000          141    158655      2   13    12
2           226.666667  106.416667          127    158655      2   13    13
3           224.583333  107.750000          161    158655      2   13    14
4           214.250000  112.500000          177    158655      2   13    15
...                ...         ...          ...       ...    ...  ...   ...
48095        66.600000   35.700000           11    209986     11   12     8
48096       104.166667   63.500000           10    209986     11   12     9
48097        81.555556   51.888889           11    209986     11   12    10
48098        38.800000   21.800000            4    209986     11   12    21
48099         0.000000    0.000000            0    209986     11   12     0

[48100 rows x 7 columns]

In [ ]:
data_to1h.to_csv('data_to1h.csv')